.container {
	flex-direction: row !important;
	flex-wrap: wrap;
}

.remove {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 48px;
	width: 64px;
	height: 64px;
	cursor: pointer;
}