.colorSwatch {
	width: 48px;
	height: 48px;
	border-radius: 8px;
	margin: 4px;
	cursor: pointer;
}

.colorPicker {
	position: relative;
	z-index: 1;
	background-color: var(--background-dark-gray) !important;
}

.colorPickerContainer {
	outline: none;
	border-color: transparent;
	box-shadow: none;
	width: 300px;
	cursor: auto;
}

.colorPicker label {
	color: white !important;
}

.colorPicker input {
	color: white !important;
	background-color: black !important;
	border-radius: 2px;
}