.modalContainer {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);

	display: flex;
	align-items: center;
	justify-content: center;
}

.modalInner {
	display: flex;
	flex-direction: column;

	max-width: 80%;
	max-height: 80%;
	overflow: auto;

	background-color: black;
	border-radius: 16px;
	padding: 8px;
}