.topBar {
	width: 100%;
	height: 32px;
	background-color: black;
	border-bottom: 2px solid rgb(120, 120, 120);
	flex-shrink: 0;

	color: white;
	font-family: "ChronoType";

	font-size: 30px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.title {
	margin-left: 8px;
	margin-right: auto;
}

.icon {
	height: 24px;
	margin: 0px 8px;
}

.settings {
	font-size: 28px;
	cursor: pointer;
}

.github {
	background-color: white;
	border-radius: 50%;
}