.tooltipBack {
	width: 500px;
	background-color: #2D2D2D;
	position: absolute;

	z-index: 1000;
	display: flex;
	flex-direction: column;
	pointer-events: none;

	font-family: "ChronoType";


	transform-origin: top left;
	line-height: 1;
}

.tooltipBorder {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 12px solid transparent;
	box-sizing: border-box;
}

.tooltipBack * {
	line-height: 1;
}

.tooltipTop {
	background-color: #222224;
	padding: 16px 16px 0px 20px;
}

.topItemInfo {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 8px;
}

.itemIcon {
	background-color: #2D2D2D;
	width: 80px;
	height: 80px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.itemTitle {
	font-size: 40px;
	color: white;
	flex: 1;
	margin-left: 16px;
}

.usableClassText {
	font-size: 30px;
	color: #929292;
}

.tooltipMiddle {
	display: flex;
	flex-direction: column;
	margin: 8px 0px 0px 20px;
}

.smallDarkText {
	color: #7B7C7D;
	font-size: 30px;
}

.largeText {
	font-size: 60px;

}

.soulboundText {
	color: #D9D9D9;
	font-size: 30px;
}

.descriptionText {
	color: #7B7C7D;
	font-size: 28px;
}

.splitter {
	width: calc(100% - 16px);
	height: 4px;
	margin: 12px 0px 12px 0px;
	filter: brightness(50%)
}

.propertyLine {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-wrap: break-word;
}

.propertyName {
	color: #B3B3B3;
	font-size: 30px;
	margin-right: 8px;
}

.propertyValue {
	color: #FFFF8F;
	font-size: 30px;
	margin-right: 8px;
}

.propertyWis {
	color: #4063E3;
	font-size: 30px;
	margin-right: 8px;
}

.break {
	flex-basis: 100%;
}

.stat {
	color: #FFFF8F;
	font-size: 30px;
}

.tooltipBottom {
	background-color: #222224;
	margin-top: 8px;	
	padding: 8px;
	padding-left: 20px;
}

.feedPower {
	font-size: 30px;
	color: white;
}

.statContainer {
	margin-bottom: 8px;
}