:root {
	--background-dark: #1a1a1a;
	--background-dark-gray: #222222;
	--atk: #C844DB;
	--def: #3d3d3d;
	--spd: #2BCF6A;
	--dex: #DA771F;
	--vit: #F40020;
	--wis: #3A83EE;
	--hp: #36D2D8;
	--mp: #E1C24F;
}

html, body, #root {
	height: 100%;
	background-color: var(--background-dark);
	color: white;
}